<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

    <div class="social-links">
      <ul class="social-media-list">
        <li><a href="https://github.com/kaosdev/map.js" title="view map.js on github">
          <svg class="svg-icon grey"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg>
        <span>View on Github</span>
        </a></li>
      </ul>
    </div>

  </div>

</footer>